@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;300;400;500;600;700;800;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 500px;
    width: 100%;
    height: 10vh;
}

header img{
    width: 300px;
}

header .nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

header .nav li{
    list-style: none;
}

header .nav img{
    width: 25px;
}

header .nav a{
    color: #444;
    font-weight: 600;
    text-decoration: none;
}

header .nav a:hover{
    color: #f5aa69;
    transition: 1s;
}

.home{
    background-color: #F0F2F5;
    display: flex;
    height: 90vh;
}

.cabecalho{
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    padding: 80px;
    width: 50%;
    height: 100%;
}

.cabecalho h1{
    font-size: 50px;
    color: #444;
}

.cabecalho p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.home img{
    width: 50%;
    transform: scaleX(-1);
}

button{
    background: #fea04d;
	color: white;
	border-style: none;
    font-size: 20px;
	height: 50px;
	width: 150px;
	text-shadow: none;
    cursor: pointer;
}

button:hover{
    background: #5793bd;
    transform: scale(1.05);
    transition: 0.5s;
}

.equipe{
    background-image: linear-gradient(#F0F2F5, #81b4da);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: relative;
    height: 100vh;
}

.equipes{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 80%;
}

section a{
    text-decoration: none;
}

section h1{
    color: #444;
    font-size: 30px;
}

section div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

section .medico, .enfermeiro, .auxenfermagem, .fisio, .fono, .nutri, .psico, .to{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #DCDCDC;
    border: 1px solid #ececec;
    transition: 1s ease-in-out;
}

section .medico:hover, .enfermeiro:hover, .auxenfermagem:hover, .fisio:hover, .fono:hover, .nutri:hover,
.psico:hover, .to:hover{
    transform: translateY(-0.5rem);
}

section .medico img, .enfermeiro img, .auxenfermagem img, .fisio img, .fono img, .nutri img,
.psico img, .to img{
    background-color: #81b4da;
    border: 1px solid #DCDCDC;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #DCDCDC;
    margin-top: -135px;
    padding: 5px;
    width: 80px;
}

section .medico:hover img, .enfermeiro:hover img, .auxenfermagem:hover img, .fisio:hover img, .fono:hover img,
.nutri:hover img, .psico:hover img, .to:hover img{
    background-color: #f5aa69;
}

.parceiros{
    background-color: #fea04d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
}

.parceiros h1{
    color:#5793bd;
    font-weight: 700;
}

.parceiros .pco{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pco a{
    transition: 1s;
    transform: translateX(0) scale(1);
}

.pco a:hover,
.pco a:focus{
    transform: translateX(0) scale(1.1);
}

.parceiros img{
    width: 200px;
}

footer{
    background-color: black;
    position: relative;
}

footer div{
    display: flex;
    justify-content: center;
}

footer .dados{
    background-color: #F0F2F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

footer .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

footer .dados div{
    align-items: center;
}

footer .dados h1{
    color: #444;
    font-weight: 700;
    margin-bottom: 15px;
}

footer .dados .logo{
    height: 330px;
}

footer .dados .logo img{
    width: 300px;
}

footer .dados .contatos{
    display: flex;
    flex-direction: column;
    height: 250px;
    gap: 10px;
}

footer .dados .contatos div{
    gap: 15px;
}

footer .dados .local{
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer .dados .local div{
    gap: 15px;
}

footer .dados img{
    width: 25px;
}

footer .dados .cep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .dados .cep p{
    text-align: center;
    font-weight: 600;
    color: black;
    width: 55%;
}

footer .dados a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

footer iframe{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer p{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    color: white;
}

footer div img{
    width: 80px;
}

footer .rodape{
    padding: 15px;
    gap: 30px;
}

footer div .selogoogle{
    width: 120px;
}