.home{
    background: linear-gradient(white, #e4e6eb);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.home .img-home{
    width: 60%;
    height: 100%;
}

.home .img-home img{
    width: 100%;
    height: 100%;    
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
    flex-direction: column;
    padding-left: 80px;
    width: 40%;
    height: 100%;
}

.cabecalho h2{
    margin-bottom: 10px;
}

.cabecalho h1, h2{
    color: black;
}

.cabecalho p{
    color: black;
    font-size: 1.3rem;
    margin-top: 10px;
}

button{
    background: #5793bd;
    color: white;
    border-style: none;
    font-size: 1.5rem;
    text-shadow: none;
    margin-top: 50px;
    width: 180px;
    height: 60px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover{
    background: #fea04d;
    transform: scale(1.05);
}

@media screen and (max-width:401px){
    .home{
        width: 100%;
    }

    .cabecalho{
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        width: 100%;
    }

    .cabecalho h2{
        width: 100%;
    }

    .home .img-home{
        display: none;
    }
    
    a{
        align-items: flex-start;
        width: 100%;
    }

    button{
        font-size: 1rem;
    }
}