header{
    position: sticky;
    top: 0%;
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 500px;
    width: 100%;
    height: 10vh;
    transition: 0.5s ease-in-out;
}

header img{
    width: 220px;
}

.colorWhite{
    color: #ffffff;
}

.colorBlack{
    color: #000000;
}

header .nav{
    transition: 0.5s ease-in-out;
}

header .nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header .nav li{
    list-style: none;
}

header .nav a{
    font-size: 0.95rem;
    font-weight: 600;
    text-decoration: none;
}

header .nav a:hover{
    color: #f5aa69;
    transition: 1s;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media screen and (max-width: 1520px){
    header{
        padding: 50px;
        gap: 100px;
    }

    header .nav ul{
        gap: 30px;
    }
    
}

@media (max-width: 768px) {
    #header {
        padding: 1rem;
    }
    #header .nav ul {
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        top: -1000%;
        gap: 0;
        flex-direction: column;
        transition: 0.5s ease-in-out;
        background-color: #1C1C1C;
    }

    #header .nav ul li {
        margin: 16px 0;
    }

    #header .nav .hamburger {
        display: block;
    }

    #header .nav .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    #header .nav .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #header .nav .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #header .nav .active {
        top: 10vh;
    }
}