.parceiros{
    background-color: #1C1C1C;
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 30vh;
}

.parceiros .titulo-parceiros{
    color:white;
    font-size: 30px;
}

.parceiros .logo-parceiros{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo-parceiros img{
    transition: 1s;
    transform: translateX(0) scale(1);
}

.logo-parceiros img:hover,
.logo-parceiros img:focus{
    transform: translateX(0) scale(1.1);
}

.parceiros img{
    width: 200px;
}

@media screen and (max-width:1520px){
    .parceiros{
        height: 100%;
    }    
}

@media screen and (max-width:401px){
    .parceiros{
        gap: 50px;
    }
    .logo-parceiros{
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 100%;
    }    
}